<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
  </head>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
    }

    .row {
      display: flex;
      width: 100%;
    }

    .label {
      width: 45%; /* Adjust as needed */
    }

    .value {
      flex-grow: 1;
    }

    .ol-cont {
      margin-left: 20px;
      list-style: upper-alpha;
      font-weight: bold;
    }

    .ol-cont ol {
      list-style: upper-alpha;
      font-weight: normal;
      list-style: decimal;
    }
  </style>
  <body style="margin: 0px 30px">
    <% data.forEach(element => { %>
    <h4 style="text-align: center; width: 100%">LEMBAR BUKU INDUK SISWA</h4>
    <div style="width: 50%">
      <div class="row">
        <div class="label">NISN</div>
        <div class="value">: <%= element.nisn %></div>
      </div>
      <div class="row" style="margin-bottom: 20px">
        <div class="label">Nomer Induk</div>
        <div class="value">:</div>
      </div>
    </div>

    <div style="width: 100%; display: flex">
      <div style="width: 50%">
        <ol class="ol-cont">
          <li>
            <h4>Keterangan Tentang Diri Siswa</h4>
            <ol style="list-style: 1">
              <li>
                <div class="row">
                  <div class="label">Nama Lengkap</div>
                  <div class="value">: <%= element.data_diri.nama_lengkap %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Nama Panggilan</div>
                  <div class="value">: <%= element.data_diri.nama_panggilan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Jenis Kelamin</div>
                  <div class="value">: <%= element.data_diri.jenis_kelamin %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Tempat Lahir</div>
                  <div class="value">: <%= element.data_diri.tempat_lahir %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Agama</div>
                  <div class="value">: <%= element.data_diri.agama %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Kewarganegaraan</div>
                  <div class="value">: <%= element.data_diri.kewarganegaraan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Anak Ke</div>
                  <div class="value">: <%= element.data_diri.anak_ke %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Jumlah Saudara Kandung</div>
                  <div class="value">: <%= element.data_diri.jml_saudara_kandung %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Jumlah Saudara Tiri</div>
                  <div class="value">: <%= element.data_diri.jml_saudara_tiri %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Jumlah Saudara Angkat</div>
                  <div class="value">: <%= element.data_diri.jml_saudara_angkat %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Kelengkapan Ortu</div>
                  <div class="value">: <%= element.data_diri.kelengkapan_ortu %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Bahasa Sehari Hari</div>
                  <div class="value">: <%= element.data_diri.bahasa_sehari_hari %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Tanggal Lahir</div>
                  <div class="value">: <%= element.data_diri.tanggal_lahir %></div>
                </div>
              </li>
            </ol>
          </li>

          <li>
            <h4>Keterangan Tempat Tinggal</h4>
            <ol style="list-style: 1">
              <li>
                <div class="row">
                  <div class="label">Alamat Tempat Tinggal</div>
                  <div class="value">: <%= element.tempat_tinggal.alamat %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">No Telepon Tempat Tinggal</div>
                  <div class="value">: <%= element.tempat_tinggal.no_telepon %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Tinggal Dengan</div>
                  <div class="value">: <%= element.tempat_tinggal.tinggal_dengan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Jarak Ke Sekolah</div>
                  <div class="value">: <%= element.tempat_tinggal.jarak_ke_sekolah %></div>
                </div>
              </li>
            </ol>
          </li>

          <li>
            <h4>Keterangan Kesehatan</h4>
            <ol style="list-style: 1">
              <li>
                <div class="row">
                  <div class="label">Gol Darah</div>
                  <div class="value">: <%= element.kesehatan.gol_darah %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Penyakit Pernah Diderita</div>
                  <div class="value">: <%= element.kesehatan.penyakit_pernah_diderita %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Kelainan Jasmani</div>
                  <div class="value">: <%= element.kesehatan.kelainan_jasmani %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Tinggi</div>
                  <div class="value">: <%= element.kesehatan.tinggi %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Berat Badan</div>
                  <div class="value">: <%= element.kesehatan.berat_badan %></div>
                </div>
              </li>
            </ol>
          </li>

          <li>
            <h4>Keterangan Pendidikan</h4>
            <ol>
              <li>
                <div>Pendidikan Sebelumnya</div>
                <ol style="list-style: lower-alpha; margin-left: 20px">
                  <li>
                    <div class="row">
                      <div class="label">Tamatan Dari</div>
                      <div class="value">: <%= element.pendidikan.sebelumnya_tamatan_dari %></div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="label">Tanggal Dan Ijazah</div>
                      <div class="value">: <%= element.pendidikan.sebelumnya_tanggal_ijazah %></div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="label">Tanggal Dan Skhun</div>
                      <div class="value">: <%= element.pendidikan.sebelumnya_tanggal_skhun_dan_ %></div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="label">Lama Belajar</div>
                      <div class="value">: <%= element.pendidikan.sebelumnya_lama_belajar %></div>
                    </div>
                  </li>
                </ol>
              </li>
              <li>
                <div>Pindahan</div>
                <ol style="list-style: lower-alpha; margin-left: 20px">
                  <li>
                    <div class="row">
                      <div class="label">Dari Sekolah</div>
                      <div class="value">: <%= element.pendidikan.pindahan_dari_sekolah %></div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="label">Alasan</div>
                      <div class="value">: <%= element.pendidikan.pindahan_alasan %></div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="label">Diterima di kelas</div>
                      <div class="value">: <%= element.pendidikan.diterima_di_kelas %></div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="label">Tanggal</div>
                      <div class="value">: <%= element.pendidikan.diterima_tanggal %></div>
                    </div>
                  </li>
                </ol>
              </li>
              <li>
                <div>Diterima di sekolah ini</div>
                <ol style="list-style: lower-alpha; margin-left: 20px">
                  <li>
                    <div class="row">
                      <div class="label">Di kelas</div>
                      <div class="value">: <%= element.pendidikan.diterima_di_kelas %></div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="label">Jurusan</div>
                      <div class="value">: <%= element.pendidikan.diterima_di_program_keahlian %></div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="label">Tanggal</div>
                      <div class="value">: <%= element.pendidikan.diterima_tanggal %></div>
                    </div>
                  </li>
                </ol>
              </li>
            </ol>
          </li>

          <li>
            <h4>Keterangan Tentang Ayah Kandung</h4>
            <ol style="list-style: 1">
              <li>
                <div class="row">
                  <div class="label">Nama</div>
                  <div class="value">: <%= element.ayah_kandung.nama %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Tempat Dan Tanggal Lahir</div>
                  <div class="value">: <%= element.ayah_kandung.tempat_lahir %>, <%= element.ayah_kandung.tanggal_lahir %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Agama</div>
                  <div class="value">: <%= element.ayah_kandung.agama %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Kewarganegaraan</div>
                  <div class="value">: <%= element.ayah_kandung.kewarganegaraan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Pendidikan</div>
                  <div class="value">: <%= element.ayah_kandung.pendidikan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Pekerjaan</div>
                  <div class="value">: <%= element.ayah_kandung.pekerjaan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Penghasilan /bulan/tahun</div>
                  <div class="value">: <%= element.ayah_kandung.pengeluaran_per_bulan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Alamat</div>
                  <div class="value">: <%= element.ayah_kandung.alamat_dan_no_telepon %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">No Telp Rumah/HP</div>
                  <div class="value">: <%= element.ayah_kandung.alamat_dan_no_telepon %></div>
                </div>
              </li>
            </ol>
          </li>

          <li>
            <h4>Keterangan Tentang Ibu Kandung</h4>
            <ol style="list-style: 1">
              <li>
                <div class="row">
                  <div class="label">Nama</div>
                  <div class="value">: <%= element.ibu_kandung.nama %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Tempat Dan Tanggal Lahir</div>
                  <div class="value">: <%= element.ibu_kandung.tempat_lahir %>, <%= element.ibu_kandung.tanggal_lahir %><</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Agama</div>
                  <div class="value">: <%= element.ibu_kandung.agama %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Kewarganegaraan</div>
                  <div class="value">: <%= element.ibu_kandung.kewarganegaraan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Pendidikan</div>
                  <div class="value">: <%= element.ibu_kandung.pendidikan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Pekerjaan</div>
                  <div class="value">: <%= element.ibu_kandung.pekerjaan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Penghasilan /bulan/tahun</div>
                  <div class="value">: <%= element.ibu_kandung.penghasilan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Alamat</div>
                  <div class="value">: <%= element.ibu_kandung.alamat_dan_no_telepon %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">No Telp Rumah/HP</div>
                  <div class="value">: <%= element.ibu_kandung.alamat_dan_no_telepon %></div>
                </div>
              </li>
            </ol>
          </li>

          <li>
            <h4>Keterangan Tentang Wali</h4>
            <ol style="list-style: 1">
              <li>
                <div class="row">
                  <div class="label">Nama</div>
                  <div class="value">: <%= element.wali.nama %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Tempat Dan Tanggal Lahir</div>
                  <div class="value">: <%= element.wali.tempat_lahir %>, <%= element.wali.tanggal_lahir %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Agama</div>
                  <div class="value">: <%= element.wali.agama %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Kewarganegaraan</div>
                  <div class="value">: <%= element.wali.kewarganegaraan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Pendidikan</div>
                  <div class="value">: <%= element.wali.pendidikan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Pekerjaan</div>
                  <div class="value">: <%= element.wali.pekerjaan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Penghasilan /bulan/tahun</div>
                  <div class="value">: <%= element.wali.penghasilan %></div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="label">Alamat</div>
                  <div class="value">: <%= element.wali.alamat_dan_no_telepon %></div>
                  <li>
                    <div class="row">
                      <div class="label">No Telp Rumah/HP</div>
                      <div class="value">: <%= element.wali.alamat_dan_no_telepon %></div>
                    </div>
                  </li>
                </ol>
              </li>
      
              <li>
                <h4>Hobi Dan Cita-Cita Siswa</h4>
                <ol style="list-style: 1">
                  <li>
                    <div class="row">
                      <div class="label">Hobi</div>
                      <div class="value">: <%= element.hobi_siswa?.kesenian+"," %></div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="label">Cita-cita</div>
                      <div class="value">: <%= element.hobi_siswa.lain_lain %></div>
                    </div>
                  </li>
                </ol>
              </li>
            </ol>
          </div>
        </div>
        <% }) %>
      </body>
      </html>